@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Cabin:600);

html{
	min-height: 100%;
}

body{ 
	background: #E6FAE6;
	font-family: 'Cabin', 'sans-serif';
	padding-top: 50px;
}

footer{
	padding-top: 25px;
	background: linear-gradient(to bottom, #E6FAE6, #1F7A1F);
	min-height: 200px;
}

.video-list-wrapper{
	position: relative;
	left: 10px;
	background-color: #FFFFFF;
	padding: 15px;
	box-shadow: 0 0 3em #000000;	
}

.video-list-header{
	margin: 0;
}

.container-nav{
	padding: 0 50px 0 50px;
	background-color: #002900;
}

.video{
	padding: 10px;
	box-shadow: inset 0 0 2em #1F1F2E;
	border-radius: 5px;
	opacity: 0.6;
}

.video:hover{
	opacity: 1.0
}

.video-wrapper{

}

.video-current{
	opacity: 1.0;
}

.video-title{
	font-size: 48px;
}

.video-description{
	padding: 0 100px 0 100px;
}

.video-list{
	padding: 0px;
	background-color: #FFFFFF;
}

.btn-sign-in{
	background-color: #19A319;
	color: #FFFFFF;
}

.btn-sign-up{
	background-color: #B36666;
	color: #FFFFFF;
}

.navbar-brand{
	font-family: 'Lobster';
	font-size: 24px;
}

